<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/auth/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/auth/style.css">
    <script language="javascript" type="text/javascript"
            src="http://code.jquery.com/jquery-2.1.1.min.js">
    </script>


</head>

<body>

    <div id="main">
        <div class="container">
            <div class="row">

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="col-md-12 page-body">
                        <div class="row">

                            <div class="sub-title">
                                <h2>Войдите в систему</h2>

                            </div>

                            <div class="col-md-12 content-page-my">
                                <div class="col-md-12 blog-post">

                                    <div class="row margin-top-30">
                                        <div class="col-md-12">

                                            <div class="row">

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input type="text" name="email" id="login" class="form-control" placeholder="Email">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                                                    </div>
                                                </div>


                                                <div class="col-sm-12">
                                                    <div class="text-center">
                                                        <button type="submit" class="send-button-sign ">Sign in</button>
                                                    </div>
                                                </div>


                                                <div class="col-sm-12">
                                                    <div class="text-center">
                                                        <button type="submit" class="send-button-sign ">Sign up</button>
                                                    </div>
                                                </div>


                                            </div>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>



                </div>
            </div>
        </div>
    </div>
</body>
</html>
